<form action="/products" method="post">
  <p>name: <input type="text" name="name"></p>
  <p>price: <input type="number" name="price"></p>
  <p>image_url: <input type="text" name="image_url"></p>
  <p>description: <input type="text" name="description"></p>

  <select name="user_id">
    <% @user_id.each do |user|%>
      <option vaule="<%= user_id%>"><%= user.email%></option> 
    <% end %>
  </select>
</form>>